.app-component-container {
    .edit-section {
        border: 1px dotted rgb(221, 148, 148);
        padding: 10px;
    }
    .display-section {
        border: 1px dotted rgb(115, 185, 105);
        padding: 10px;
    }
}
